<hello name="{{ name }}"></hello>
<!-- <p>Start editing to see some magic happen :)</p> -->

<!-- {{ isshow }} -->
<div *ngIf="isshow"> <p>A structural directive that conditionally includes a template based on the value of an expression coerced to Boolean. When the expression evaluates to true, Angular renders the template provided in a then clause, and when false or null, Angular renders the template provided in an optional else clause. The default template for the else clause is blank.</p> </div>

<div *ngIf="!isshow "> <p> A shorthand form of the directive, *ngIf="condition", is generally used, provided as an attribute of the anchor element for the inserted template. Angular expands this into a more explicit version, in which the anchor element is contained in an element.</p></div>

